.movie-page {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.movie-page svg {
    font-size: 1.5rem;
    color:  gold;;
}

.movie-card {
    text-align: center;
}

.movie-card img,
.movie-card h2,
.movie-card p {
    margin-bottom: 1rem;
}

.movie-card h2 {
    font-size: 1.5rem;
}

.rotten-container {
    text-align: center;
    flex-direction: column;
    max-width: 100px;
    margin: 0.5rem auto;
}

.rotten-container h3{
    margin-bottom: 1rem;
}
  
.movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    padding-bottom: 2.5rem;
}

.description p {
    line-height: 1.4rem;
}

.button {
    text-align: center;
    padding-bottom: 2.5rem;
  }
  
  .button button {
    background-color:  gold;
    border: 2px solid  gold;
    border-radius: 4px;
    color: black;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
    width:60%;
    font-size: 100%;
    cursor: pointer;
  }
  
  .button button:hover {
    background-color: transparent;
    color:  gold; 
  }

  .button p {
    background-color:  gold;
    border: 2px solid  gold;
    border-radius: 4px;
    color: black;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
    width:60%;
    font-size: 100%;
  }